<h1>Movies</h1>

<div class="">
  <table class="table">
    <thead>

      <tr>
        <td>Rating</td>
        <td>Count</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of moviesGrouped">
        <td>{{ movie.rating }}</td>
        <td>{{ movie.counted }}</td>
      </tr>
    </tbody>

  </table>

</div>

