<div class="container">
  <h1>{{title}}</h1>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
     
      <label>Name</label>
      <input type="text" formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="button" class="btn" (click)="goBack()" id="btnCancel" value="Cancel" />
  </form>
</div>

