<div class="container">
  <h1>{{title}}</h1>
  <form [formGroup]="moviesForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <label>Name</label>
      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>
    <!--<div class="form-group">
      <label>Category</label>
      <input type="text" formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
      <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
        <div *ngIf="f.category.errors.required">Category is required</div>
      </div>
    </div>-->
    <div class="form-group">
      <label>Rating</label>
      <input type="number" min="0" max="10" formControlName="rating" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rating.errors }" />
      <div *ngIf="submitted && f.rating.errors" class="invalid-feedback">
        <div *ngIf="f.rating.errors.required">Rating is required</div>
        <div *ngIf="f.rating.errors">Please enter a number between 0 and 10</div>
      </div>
    </div>
    <div class="form-group">
      <label>Category</label>
      <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
        <div *ngIf="f.categoryId.errors.required">Category is required</div>
      </div>
      <select formControlName="categoryId">
        <option *ngFor="let category of categories" value="{{category.id}}">
          {{category.category}}
        </option>
      </select>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="button" class="btn" (click)="goBack()" id="btnCancel" value="Cancel" />
  </form>
</div>

