<h1>Categories</h1>
<div class="col-lg-6">
  <div class="">
    <input type="button" class="btn btn-primary" [routerLink]="['/category/edit/',0]" id="btnCreateCategory" value="Create Category" />
    <input type="button" class="btn btn-primary" [routerLink]="['/']" id="btnBackToMovies" value="Back to Movies" />
  </div>
  <div class="row">
    <table *ngIf="categories">
      <thead>Name</thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{category.category}} <a class=" " [routerLink]="['/category/edit/', category.id]">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

