<h1>Movies</h1>
<div class="row" (ngOnInit)="ngOnInit()">
  <div class="col-lg-6"><input type="text" [(ngModel)]="filterValue" (ngModelChange)="filterMovies()" placeholder="Type here to filter movie"></div>
  <div class="col-md-2"><input type="button" class="btn btn-primary" [routerLink]="['/movie/edit/',0]" id="btnCreateMovie" value="Create Movie" /></div>
  <div class="col-md-2"><input type="button" class="btn btn-primary" [routerLink]="['/categories/']" id="btnViewCategories" value="View Categories" /></div>
  <div class="col-md-2"><input type="button" class="btn btn-primary" [routerLink]="['/moviesgrouped/']" id="btnViewGrouped" value="View Grouped" /></div>
</div>
<div class="row">
  
  <div class='card-columns' *ngIf="movies">
    <div *ngFor="let movie of movies" class="card ">
      <div class="card-body">
        <h4 class="card-title">{{ movie.name }}</h4>
        <p class="card-text">Category : {{ movie.category }}</p>
        <p class="card-text">Rating {{ movie.rating }}</p>

        <button class="btn btn-primary" [routerLink]="['/movie/edit/', movie.id]">Edit</button>
        <button (click)="delete(movie)" class="btn">Delete</button>
      </div>
     

    </div>
  </div>
</div>

